@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-before-after::before,
.disable-before-after::after {
    content: none !important;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}